<div class="rooms-container">

  <h1>Rooms:</h1>
  <div id="rooms">
    <%= render @rooms %>
    <div id="new-room">
      <%= link_to "Create new room", new_room_path, class: "btn-secondary" %>
    </div>
  </div>
</div>

